@font-face {
    font-family: valorant;
    src: url(valorant.ttf);
}

.title{
    font-family: valorant;
    color:#FD4556;
}

.center-text{
    text-align: center;
}


button{
    margin-top: 1rem;
    font-family: valorant;
    background-color: #FD4556;
    color: white;
    border-width:0px;
    
    transition: background-color 0.05s ease-in;
    
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

button:hover{
    background-color: #BD3944;
    cursor:pointer;
}
button:active{
    background-color: #e95a63;
    cursor:pointer;
}

#tries{
    font-family: valorant;
}

#correct{
    font-family: valorant;
}

